*, *:before, *:after {
  box-sizing: border-box;
}


body {
  width: 375px;
  font-size: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 10px;


}

.container {
  background-color: #FFFF;
  margin: 0px auto;
  width: 375px;
  box-sizing: border-box;

}

nav {
  width: 375px;
  background-color: rgb(255,149,0);
  padding: 15px 0px 40px 0px;
  position: fixed;
  height: 110px;
  display: inline-block;
  z-index: 2;
  box-shadow: 0px 0px 2px 0px;
}



.stopname {
  font-size: 2.3em;
  padding-left: 40px;
  padding-top: 35px;
  float: center;
  width: 80%;
  display: inline-block;

}
.menu-icon {
  float: right;
  font-size: 3em;
  width: 10%;
  padding: 30px 20px 0px 0px;
  display: inline-block;
  color: white;
}

.statusbar {
  padding: -80px 0px 30px 0px;
}

.bus-schedule h1 {
  font-size: 1.6em;
  font-weight: 900;

}

.bus-schedule h3 {
  font-size: 1.2em;
  line-height: 1.5;
}

.bus-schedule {
  padding: 110px 0px 0px 0px;
}

.time {

  padding-top: 40px;
  float: right;
  width: 29%;
}

.arrow-left {
  font-size: 1em;
  padding: 32px 0px 0px 10px;
  float: left;
}
.route-number {
  font-size: 1.8em;
  padding: 40px 0px 10px 5%;
  display: inline-block;
  width: 10%;
  float: left;
}
.content {
  padding: 40px 0px 20px 10%;
  display: inline-block;
  width: 60%;

}

.location, .location-warning {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ADADAD;
}

.location:hover {
  background-color: rgb(0,122,255);
}
.location-warning:hover {
  background-color: rgb(255,45,85);
}
